In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#Scaling with labelencoding

In [2]:
data=pd.read_csv('Insurance_Marketing-Customer-Value-Analysis.csv')

In [3]:
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/2011,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/2011,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/2011,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/2011,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/2011,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [4]:
data.drop(['Customer','Effective To Date'],axis=1,inplace=True)

In [5]:
data.columns

Index(['State', 'Customer Lifetime Value', 'Response', 'Coverage', 'Education',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [6]:
for x in data.columns:
    if len(x.split(' '))>1:
        a=x.split(' ')
        b=str.join('_',a)
        data.rename(columns={x:b},inplace=True)

In [7]:
data.columns

Index(['State', 'Customer_Lifetime_Value', 'Response', 'Coverage', 'Education',
       'EmploymentStatus', 'Gender', 'Income', 'Location_Code',
       'Marital_Status', 'Monthly_Premium_Auto', 'Months_Since_Last_Claim',
       'Months_Since_Policy_Inception', 'Number_of_Open_Complaints',
       'Number_of_Policies', 'Policy_Type', 'Policy', 'Renew_Offer_Type',
       'Sales_Channel', 'Total_Claim_Amount', 'Vehicle_Class', 'Vehicle_Size'],
      dtype='object')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 22 columns):
State                            9134 non-null object
Customer_Lifetime_Value          9134 non-null float64
Response                         9134 non-null object
Coverage                         9134 non-null object
Education                        9134 non-null object
EmploymentStatus                 9134 non-null object
Gender                           9134 non-null object
Income                           9134 non-null int64
Location_Code                    9134 non-null object
Marital_Status                   9134 non-null object
Monthly_Premium_Auto             9134 non-null int64
Months_Since_Last_Claim          9134 non-null int64
Months_Since_Policy_Inception    9134 non-null int64
Number_of_Open_Complaints        9134 non-null int64
Number_of_Policies               9134 non-null int64
Policy_Type                      9134 non-null object
Policy                           9134 non-null object
Renew_Offer_Type                 9134 non-null object
Sales_Channel                    9134 non-null object
Total_Claim_Amount               9134 non-null float64
Vehicle_Class                    9134 non-null object
Vehicle_Size                     9134 non-null object
dtypes: float64(2), int64(6), object(14)
memory usage: 1.5+ MB

In [9]:
data_object=data.select_dtypes('object')

In [10]:
data_object

,State,Response,Coverage,Education,EmploymentStatus,Gender,Location_Code,Marital_Status,Policy_Type,Policy,Renew_Offer_Type,Sales_Channel,Vehicle_Class,Vehicle_Size
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,California,No,Extended,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [11]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data_object=data_object.apply(le.fit_transform)

In [12]:
data_object.head()

,State,Response,Coverage,Education,EmploymentStatus,Gender,Location_Code,Marital_Status,Policy_Type,Policy,Renew_Offer_Type,Sales_Channel,Vehicle_Class,Vehicle_Size
0,4,0,0,0,1,0,1,1,0,2,0,0,5,1
1,0,0,1,0,4,0,1,2,1,5,2,0,0,1
2,2,0,2,0,1,0,1,1,1,5,0,0,5,1
3,1,0,0,0,4,1,1,1,0,1,0,2,3,1
4,4,0,0,0,1,1,0,2,1,3,0,0,0,1

In [13]:
data_num=data.select_dtypes(exclude='object')

In [14]:
data_num.head()

,Customer_Lifetime_Value,Income,Monthly_Premium_Auto,Months_Since_Last_Claim,Months_Since_Policy_Inception,Number_of_Open_Complaints,Number_of_Policies,Total_Claim_Amount
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879

In [15]:
col=data_num.columns

In [16]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
ss.fit(data_num)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [17]:
data_num=ss.transform(data_num)

In [18]:
data_num=pd.DataFrame(data_num)
data_num.columns=col

In [19]:
data_num.head()

,Customer_Lifetime_Value,Income,Monthly_Premium_Auto,Months_Since_Last_Claim,Months_Since_Policy_Inception,Number_of_Open_Complaints,Number_of_Policies,Total_Claim_Amount
0,-0.762878,0.612827,-0.703925,1.678099,-1.543287,-0.42225,-0.822648,-0.169640
1,-0.149245,-1.239617,0.022691,-0.208186,-0.217334,-0.42225,2.106160,2.400737
2,0.710636,0.365710,0.429596,0.288205,-0.360680,-0.42225,-0.404247,0.455734
3,-0.052263,-1.239617,0.371467,0.288205,0.606907,-0.42225,1.687759,0.329769
4,-0.755575,0.203390,-0.587666,-0.307465,-0.145661,-0.42225,-0.822648,-1.018843

In [20]:
data_num.describe()

,Customer_Lifetime_Value,Income,Monthly_Premium_Auto,Months_Since_Last_Claim,Months_Since_Policy_Inception,Number_of_Open_Complaints,Number_of_Policies,Total_Claim_Amount
count,9.134000e+03,9.134000e+03,9.134000e+03,9.134000e+03,9.134000e+03,9.134000e+03,9.134000e+03,9.134000e+03
mean,2.055383e-17,5.160945e-16,-1.480399e-16,4.976191e-17,1.003260e-16,-1.232865e-16,3.747702e-16,6.745936e-19
std,1.000055e+00,1.000055e+00,1.000055e+00,1.000055e+00,1.000055e+00,1.000055e+00,1.000055e+00,1.000055e+00
min,-8.888511e-01,-1.239617e+00,-9.364417e-01,-1.498803e+00,-1.722470e+00,-4.222496e-01,-8.226479e-01,-1.494022e+00
25%,-5.837472e-01,-1.239617e+00,-7.329893e-01,-9.031338e-01,-8.623923e-01,-4.222496e-01,-8.226479e-01,-5.571062e-01
50%,-3.238088e-01,-1.240322e-01,-2.970199e-01,-1.089082e-01,-2.314821e-03,-4.222496e-01,-4.042468e-01,-1.726199e-01
75%,1.393223e-01,8.118515e-01,4.586604e-01,7.845956e-01,8.219261e-01,-4.222496e-01,4.325555e-01,3.904724e-01
max,1.096273e+01,2.051587e+00,5.951875e+00,1.975934e+00,1.825350e+00,5.070242e+00,2.524561e+00,8.465696e+00

In [21]:
data_scale=pd.concat([data_object,data_num],axis=1)

In [22]:
data_scale

,State,Response,Coverage,Education,EmploymentStatus,Gender,Location_Code,Marital_Status,Policy_Type,Policy,...,Vehicle_Class,Vehicle_Size,Customer_Lifetime_Value,Income,Monthly_Premium_Auto,Months_Since_Last_Claim,Months_Since_Policy_Inception,Number_of_Open_Complaints,Number_of_Policies,Total_Claim_Amount
0,4,0,0,0,1,0,1,1,0,2,...,5,1,-0.762878,0.612827,-0.703925,1.678099,-1.543287,-0.422250,-0.822648,-0.169640
1,0,0,1,0,4,0,1,2,1,5,...,0,1,-0.149245,-1.239617,0.022691,-0.208186,-0.217334,-0.422250,2.106160,2.400737
2,2,0,2,0,1,0,1,1,1,5,...,5,1,0.710636,0.365710,0.429596,0.288205,-0.360680,-0.422250,-0.404247,0.455734
3,1,0,0,0,4,1,1,1,0,1,...,3,1,-0.052263,-1.239617,0.371467,0.288205,0.606907,-0.422250,1.687759,0.329769
4,4,0,0,0,1,1,0,2,1,3,...,0,1,-0.755575,0.203390,-0.587666,-0.307465,-0.145661,-0.422250,-0.822648,-1.018843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,1,0,0,0,1,1,2,1,1,3,...,0,1,2.241590,1.128558,-0.587666,0.288205,1.466984,-0.422250,-0.404247,-0.811934
9130,1,1,1,1,1,0,1,0,0,2,...,0,1,-0.714411,-0.528450,-0.413278,-0.108908,-0.719046,-0.422250,-0.822648,-0.188956
9131,1,0,1,0,4,1,1,2,0,1,...,0,1,0.023135,-1.239617,-0.238891,-0.605299,-0.396517,2.873245,-0.404247,1.227937
9132,1,0,1,1,1,1,1,1,1,4,...,0,0,-0.069935,-0.517356,0.080820,1.876656,-1.614960,-0.422250,0.014154,0.885113
9133,1,0,1,1,4,1,1,2,0,2,...,5,1,-0.784955,-1.239617,-0.471408,-1.200968,1.502821,-0.422250,-0.822648,-0.222004

In [23]:
X=data_scale.drop('Customer_Lifetime_Value',axis=1)
y=data_scale['Customer_Lifetime_Value']

In [24]:
import warnings 
warnings.filterwarnings('ignore')
import statsmodels.api as sm

X_constant = sm.add_constant(X)
lin_reg = sm.OLS(y,X_constant).fit()
lin_reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                               OLS Regression Results
===================================================================================
Dep. Variable:     Customer_Lifetime_Value   R-squared:                       0.165
Model:                                 OLS   Adj. R-squared:                  0.163
Method:                      Least Squares   F-statistic:                     85.81
Date:                     Tue, 24 Dec 2019   Prob (F-statistic):               0.00
Time:                             09:56:57   Log-Likelihood:                -12136.
No. Observations:                     9134   AIC:                         2.432e+04
Df Residuals:                         9112   BIC:                         2.447e+04
Df Model:                               21
Covariance Type:                 nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
const                             0.0321      0.052      0.611      0.541      -0.071       0.135
State                             0.0041      0.007      0.557      0.577      -0.010       0.019
Response                         -0.0653      0.028     -2.330      0.020      -0.120      -0.010
Coverage                         -0.0268      0.017     -1.616      0.106      -0.059       0.006
Education                         0.0135      0.007      1.948      0.051   -8.68e-05       0.027
EmploymentStatus                 -0.0155      0.011     -1.446      0.148      -0.036       0.006
Gender                           -0.0210      0.019     -1.090      0.276      -0.059       0.017
Location_Code                     0.0151      0.017      0.888      0.374      -0.018       0.048
Marital_Status                   -0.0345      0.016     -2.144      0.032      -0.066      -0.003
Policy_Type                       0.0653      0.042      1.541      0.123      -0.018       0.148
Policy                           -0.0070      0.013     -0.556      0.578      -0.032       0.018
Renew_Offer_Type                 -0.0507      0.010     -5.088      0.000      -0.070      -0.031
Sales_Channel                     0.0034      0.009      0.378      0.705      -0.014       0.021
Vehicle_Class                     0.0068      0.005      1.434      0.152      -0.002       0.016
Vehicle_Size                      0.0272      0.018      1.513      0.130      -0.008       0.062
Income                            0.0096      0.014      0.669      0.504      -0.019       0.038
Monthly_Premium_Auto              0.4140      0.015     28.270      0.000       0.385       0.443
Months_Since_Last_Claim           0.0100      0.010      1.038      0.299      -0.009       0.029
Months_Since_Policy_Inception    -0.0032      0.010     -0.329      0.742      -0.022       0.016
Number_of_Open_Complaints        -0.0328      0.010     -3.426      0.001      -0.052      -0.014
Number_of_Policies                0.0220      0.010      2.287      0.022       0.003       0.041
Total_Claim_Amount               -0.0246      0.015     -1.609      0.108      -0.055       0.005
==============================================================================
Omnibus:                     5665.297   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            64590.396
Skew:                           2.852   Prob(JB):                         0.00
Kurtosis:                      14.713   Cond. No.                         35.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=42)

In [26]:
def model_fit(name,algo,X_train,X_test,y_train,y_test):
    print(name)
    algo.fit(X_train,y_train)
    print('train score {}'.format(algo.score(X_train,y_train)))
    print('test score {}'.format(algo.score(X_test,y_test)))

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import AdaBoostRegressor
DT = DecisionTreeRegressor(criterion = 'entropy',random_state= 0)
DT_reg=DecisionTreeRegressor(max_depth=5,criterion = 'entropy',random_state= 0)
RF=RandomForestRegressor(n_estimators=10,random_state=0)
LR=LogisticRegression()
knn=KNeighborsRegressor()
KNN_bag=BaggingRegressor(base_estimator=knn,n_estimators=10,random_state=0)
LR_bag=BaggingRegressor(base_estimator=LR,n_estimators=17,random_state=0)
DT_bag=BaggingRegressor(n_estimators=10,random_state=0)
LR_boost=AdaBoostRegressor(base_estimator=LR,n_estimators=50,random_state=0)
DT_boost=AdaBoostRegressor(n_estimators=50,random_state=0)
RF_boost=AdaBoostRegressor(base_estimator=RF,n_estimators=50,random_state=0)
model=[]
model.append(('Logistic Regression',LR))
model.append(('Decision Tree',DT))   
model.append(('Decision Tree Regularized',DT_reg)) 
model.append(('Random Forest',RF))
model.append(('KNeighbors',knn))
model.append(('KNN_BAG',KNN_bag))
model.append(('LR_BAG',LR_bag))
model.append(('DT_BAG',DT_bag))
model.append(('LR_BOOST',LR_boost))
model.append(('DT_BOOST',DT_boost))
model.append(('RF_BOOST',RF_boost))

In [29]:
for x,y in model:
    model_fit(x,y,X_train,X_test,y_train,y_test)

Logistic Regression

ValueError: Unknown label type: 'continuous'